body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 100vh;
}

body input {
        width: 300px;
        margin: 10px 10px;
}

.box{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        margin-top: 50px;
}

.div {
        border-radius: 50%;
        border: 1px solid black;
}