:root{
        text-align: center;
        height: 200vh;
}

.firstDiv {
        width: 200px;
        border: 1px solid black;
        margin: 50px auto;
}

ul {
        display: flex;
        justify-content: center;
}

li {
        width: 200px;
        height: 50px;
        border: 1px solid black;
        list-style-type: none;
}

.blue {
        background-color: blue;
}

.red {
        background-color: red;
}

.secondDiv {
        height: 400px;
        border: 1px solid black;
        width: 400px;
        margin: 50px auto;
}

.thirdDiv {
        height: 50px;
        width: 50px;
        border: 1px solid black;
        margin: 50px auto;
        position: relative;
}

.color{
        height: 50px;
        width: 50px;
}

.inputLogin{
        margin: 50px auto;
}

.inputInfo{
        margin: 0px auto;
}