:root {
        font-family: 'Noto Sans', sans-serif;
}

.main {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
}

.mainCards {
        height: 200px;
        width: 220px;
        border: 1px solid black;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 5px 5px 15px 5px rgb(163 163 163 / 30%);
        padding: 5px 5px;
        box-sizing: border-box;
}

.mainCards div{
        margin: 8px 5px;
}

.button {
        width: 100px;
        height: 30px;
        font-family: 'Noto Sans', sans-serif;
        margin: 15px 26%;
}

.divName{
        font-weight: bold;
}

.saveBtn{
        background-color: #0080009e;
        font-weight: bold;
}