header {
        width: 800px;
        height: 200px;
        border: 5px solid red;
        border-bottom: none;
}

main{
        display: flex;
        flex-direction: row;
}

nav {
        width: 100px;
        height: 400px;
        border: 5px solid orange;
        border-bottom:none;
}

section {
        width: 695px;
        height: 400px;
        border: 5px solid orange;
        border-left: none;
        border-bottom:none;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
}

footer{
        width: 800px;
        height: 200px;
        border: 5px solid grey;
}