body {
        margin: 0;
}

.container {
        max-width: 800px;
        height: 490px;
        overflow: hidden;
        margin: 10vh auto;
}

#slider {
        display: flex;
        
}

.slide {
        display: none;
}

.active{
        display: block;
      
}

